*background:           #000000
*foreground:           #1FD8FF
*cursorColor:          #6699CC


!Visiblue

!black
*color0:               #959595
*color8:               #97BEE6
!red
*color1:               #6666CC
*color9:               #9999FF
!green
*color2:               #0099CC
*color10:              #00CCFF
!yellow
*color3:               #3366CC
*color11:              #6699FF
!blue
*color4:               #006699
*color12:              #0099CC
!magneta
*color5:               #0066FF
*color13:              #0099FF
!cyan
*color6:               #669999
*color14:              #66CCCC
!white
*color7:		#B8D6FF
*color15:             #B8EDFF

backarrowKeyIsErase: true
locale: true
selectToClipboard:true
xterm*bellIsUrgent: true  

*font: xft:monaco:size=14 
!.perl-ext-common: vtwheel 
!# .tabbed.tabbar-fg: 5 
!# .tabbed.tabbar-bg: 0
! .tabbed.tab-fg: 14
!  .tabbed.tab-bg: 0
  
URxvt.scrollBar: false
Xcursor.size: 8
!.letterSpace: 0
  
!  Xcursor.size : 8

! *.transparent: true 
! *.shading: 0 to 99 darkens, 101 to 200 lightens
! *.shading: 11 
!*tintColor: Blue
!*.depth: 16
